{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

    {% if post.title %}
      <title>{{ post.title }}</title>
    {% else %}
      <title>Blog</title>
    {% endif %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'blog/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'blog/assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'blog/assets/css/templatemo-stand-blog.css' %}">
    <link rel="stylesheet" href="{% static 'blog/assets/css/owl.css' %}">
<!--

TemplateMo 551 Stand Blog

https://templatemo.com/tm-551-stand-blog

-->
<style>
  a {
    color:#f48840;
    text-decoration:none;
    background-color:transparent;
    -webkit-text-decoration-skip:objects
   }
  a:hover {
    color: black;
  }   

  #id_image {
    border: none;
    padding-top: 7px;
  }        

  #id_username {
    margin-bottom: 10px;
  }      

  .btn-outline-info {
    color:#f48840;
    background-color:transparent;
    background-image:none;
    border-color:#f48840;
   }

   h5 {
    background-color:#f48840;
    color: white;
    padding: 10px;
  }

  .btn-outline-info:hover {
    color:#fff;
    background-color:#f48840;
    border-color:#f48840;
   }
   

</style>

  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{% url 'blog-home' %}"><h2>Blog<em>.</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'blog-home' %}">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'sign_out' %}">Sign Out</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'sign_in' %}">Sign In</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'sign_up' %}">Sign Up</a>
                </li>            
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    
    <!-- Page Content -->
    
    {% block banner %}{% endblock %}
    <!-- Banner Starts Here -->

    <!-- Banner Ends Here -->

    <section class="blog-posts">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        </div>

          {% block content %} {% endblock %}
          
        
        {% block sidebar %}
                         
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item search">
                    <form id="search_form" name="gs" method="GET" action="#">
                      <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                    </form>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>Most popular Posts</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <!-- {% for post in most_popular_posts %}
                          <li><a href="post-details.html">
                            <h5>{{ post.title }}</h5>
                            <span>{{ post.date_posted | date:"F d, Y"  }}</span>
                          </a></li>
                        {% endfor %} -->
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Categories</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for category in categories %}
                        <li><a href="{{ category.get_absolute_url }}">- {{ category.name }} ({{ category.post_set.count }})</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item tags">
                    <div class="sidebar-heading">
                      <h2>Tag Clouds</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Creative</a></li>
                        <li><a href="#">HTML5</a></li>
                        <li><a href="#">Inspiration</a></li>
                        <li><a href="#">Motivation</a></li>
                        <li><a href="#">PSD</a></li>
                        <li><a href="#">Responsive</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          

        {% endblock %}
        </div>
      </div>
    </section>

    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="social-icons">
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Behance</a></li>
              <li><a href="#">Linkedin</a></li>
              <li><a href="#">Dribbble</a></li>
            </ul>
          </div>
          <div class="col-lg-12">
            <div class="copyright-text">
              <p>Copyright 2020 Stand Blog Co.
                    
                 | Design: <a rel="nofollow" href="https://templatemo.com" target="_parent">TemplateMo</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'blog/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'blog/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Additional Scripts -->
    <script src="{% static 'blog/assets/js/custom.js' %}"></script>
    <script src="{% static 'blog/assets/js/owl.js' %}"></script>
    <script src="{% static 'blog/assets/js/slick.js' %}"></script>
    <script src="{% static 'blog/assets/js/isotope.js' %}"></script>
    <script src="{% static 'blog/assets/js/accordions.js' %}"></script>

    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>