
{% extends 'blog/base.html' %}


{% block banner_text %}<h2>Delete Post</h2>{% endblock %}  


{% block content %}    
  <div class="col-lg-8">
    <div class="col-lg-8">
      <form class="blog-post" method="POST">
        {% csrf_token %}
          <fieldset>
              <h3>Are you sure you want to delete post "{{ object.title }}"?</h3>
          </fieldset>
          <div class="form-group">
            <button class="btn btn-outline-danger mt-4" type="submit">Yes, Delete</button>
            <a class="btn btn-outline-secondary mt-4" href="{% url 'post-detail' object.id %}">Cancel</a>
          </div>
      </form>   
    </div>
  </div>
  
{% endblock %}