{% extends 'blog/base.html' %}


{% block banner %}
<!-- Banner Starts Here -->
<div class="heading-page header-text">
  <section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-content">
            <h2>Check your mail!</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
<!-- Banner Ends Here -->

{% block content %}    
    <div class="alert alert-info">
        An email has been sent with instructions to reset your password
    </div>

{% endblock %}

{% block sidebar %} {% endblock %}
