{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block banner_text %}<h2>Reset Password</h2>{% endblock %}  
        

{% block content %}    
  <div class="col-lg-8">
    <div class="col-lg-8">
    <form class="blog-post" method="POST">
      {% csrf_token %}
      <fieldset>     
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Reset Password </button>
      </div>
   
    </form>   
    </div>
  </div>
  
{% endblock %}

{% block sidebar %} {% endblock %}