{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block banner_text %}<h2>profile</h2>{% endblock %}  


{% block content %}

<div class="col-lg-8">
    <div class="all-blog-posts">
      <div class="row">     
        <div class="col-lg-12">
          <div class="sidebar-item comments">
            <div class="content">
              <ul>
                <li>
                  <div class="author-thumb">
                    <img src="{{ user.profile.image.url }}" alt="">
                  </div>
                  <div class="right-content">
                    <h3>{{ user.username }}</h3>
                    <p>{{ user.email }}</p>   
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="sidebar-item submit-comment">
            <div class="sidebar-heading">
              <h2>Profile Info</h2>
            </div>
            <div class="content">
              <div class="col-lg-12">
                <fieldset>
                
                  <form id="comment"  method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                  
                    {{ u_form|crispy }}             
                    {{ p_form|crispy }}
                    
                    <button type="submit" id="form-submit" class="main-button">Update</button>             
                  </fieldset>
                </div>
              </form>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>

{% endblock content %}


