{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block banner %}
<!-- Banner Starts Here -->
<div class="heading-page header-text">
  <section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-content">
            <h2>Register your account</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
<!-- Banner Ends Here -->

{% block content %}    
  <div class="col-lg-8">
    <div class="col-lg-8">
    <form class="blog-post" method="POST">
      {% csrf_token %}
      <fieldset>     
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Sign Up</button>
        <small class="text-muted ml-4 mt-4" >
        <a href="{% url 'password_reset' %}">Forgot Password?</a>
      </small>
      </div>
      <div class="border-top pt-3">
        <small class="text-muted">
          Already Have An Account? <a class="ml-2" href="{% url 'sign_in' %}">Sign In</a>
        </small>
      </div>      
    </form>   
    </div>
  </div>
  
{% endblock %}